/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-may-2019, 17:06:15
    Author     : Luis
*/

body{
    
    
    background-color: #BDFF00;
}

h1{
    
    text-align: center;
    font-family: Arial;
    color: #0070FF;
    
    
}

h3{
    
    text-align: center;
    font-family: Arial;
    color: #FF0000;
    
    
}

.negro{color: #000000}